@media screen and (min-width: 64rem) {

/*****************************HAMBUTTON*************************/
    #hamburger {
        display: none;
    }

/****************************NAVIGATION************************/
    nav {
        margin-left: auto;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        gap: 20px;
    }

    .nav-links a {
        color: var(--plain);
        text-decoration: none;
        font-weight: 700;
        padding: 5px 10px;
        transition: color 0.3s;
    }

    .nav-links a.active, 
    .nav-links a:hover {
        color: var(--logo);
        border-bottom: 2px solid var(--logo);
    }


/*************************LIST - LARGE VIEW*********************/
#members.list {
    max-width: 1000px;
    width: 100%;
    padding: 15px;
}

#members.list section {
    grid-template-columns: 1.5fr 1.5fr 1fr 0.5fr; 
    gap: 15px;
    padding: 12px 25px;
}

#members.list section h2 {  
    font-size: 1.3rem;
}

#members.list section p,
#members.list section a {
    font-size: 1rem;
}

/****************************FOOTER*****************************/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
        padding: 2rem 5rem;
        align-items: center;
    }

    div.social {
        justify-content: center; 
    }
    div.project { 
        text-align: left; 
    }


}