@media screen and (min-width: 64rem) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    
    .social { order: 2; }
    .project { order: 3; text-align: right; }
}